In [18]:
!pip install python-binance

import warnings
warnings.filterwarnings('ignore')

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: python-binance in c:\users\fernando barzola\appdata\roaming\python\python39\site-packages (1.0.16)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from python-binance) (2.27.1)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from python-binance) (1.16.0)
Requirement already satisfied: ujson in c:\programdata\anaconda3\lib\site-packages (from python-binance) (5.1.0)
Requirement already satisfied: websockets in c:\users\fernando barzola\appdata\roaming\python\python39\site-packages (from python-binance) (10.4)
Requirement already satisfied: aiohttp in c:\programdata\anaconda3\lib\site-packages (from python-binance) (3.8.1)
Requirement already satisfied: dateparser in c:\users\fernando barzola\appdata\roaming\python\python39\site-packages (from python-binance) (1.1.4)
Requirement already satisfied: attrs>=17.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->python-binance) (21.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->python-binance) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->python-binance) (4.0.1)
Requirement already satisfied: aiosignal>=1.1.2 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->python-binance) (1.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->python-binance) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->python-binance) (5.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->python-binance) (1.6.3)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\programdata\anaconda3\lib\site-packages (from async-timeout<5.0,>=4.0.0a3->aiohttp->python-binance) (4.1.1)
Requirement already satisfied: idna>=2.0 in c:\programdata\anaconda3\lib\site-packages (from yarl<2.0,>=1.0->aiohttp->python-binance) (3.3)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27 in c:\programdata\anaconda3\lib\site-packages (from dateparser->python-binance) (2022.3.15)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from dateparser->python-binance) (2.8.2)
Requirement already satisfied: pytz in c:\programdata\anaconda3\lib\site-packages (from dateparser->python-binance) (2021.3)
Requirement already satisfied: tzlocal in c:\users\fernando barzola\appdata\roaming\python\python39\site-packages (from dateparser->python-binance) (4.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->python-binance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->python-binance) (1.26.9)
Requirement already satisfied: pytz-deprecation-shim in c:\users\fernando barzola\appdata\roaming\python\python39\site-packages (from tzlocal->dateparser->python-binance) (0.1.0.post0)
Requirement already satisfied: tzdata in c:\users\fernando barzola\appdata\roaming\python\python39\site-packages (from tzlocal->dateparser->python-binance) (2022.6)

In [32]:
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import os
from binance.client import Client

apiKey = "urN4NPZbcuV3mSsmFFD7pJxpsJxxZWmNkjO3EAMyMRuHpKwnJltGXbIXfZLzokyg"
apiSecret_Key = "Pu6nipFs2rEglu4t38SmPlNn7g8jI9nrXybTIxDrJhydkyRIzAdPuyREj0DMirOo"

client = Client(apiKey, apiSecret_Key, tld='com')

# Definir los parámetros de la consulta
symbol = 'BTCUSDT'  # Par de trading (puedes cambiarlo según tus necesidades)
interval = Client.KLINE_INTERVAL_1HOUR  # Intervalo de tiempo de la candela (1 hora en este caso)
limit = 100 # Número máximo de candelas a obtener

# Obtener los datos de kline
klines = client.get_klines(symbol=symbol, interval=interval, limit=limit)

# Imprimir los datos obtenidos
print(klines)

[[1708012800000, '51948.24000000', '52380.00000000', '51742.00000000', '52265.32000000', '3408.06139000', 1708016399999, '177573766.99237950', 92715, '1799.01723000', '93755399.82759470', '0'], [1708016400000, '52265.32000000', '52317.30000000', '51850.50000000', '51875.59000000', '2173.95966000', 1708019999999, '113340263.09503000', 72235, '983.47187000', '51282737.15626200', '0'], [1708020000000, '51875.60000000', '52060.00000000', '51831.34000000', '51977.99000000', '1611.13065000', 1708023599999, '83709835.14423080', 62480, '859.00669000', '44630231.08288830', '0'], [1708023600000, '51977.98000000', '52056.00000000', '51725.00000000', '52002.01000000', '2065.22624000', 1708027199999, '107184143.81505720', 59991, '999.91648000', '51902649.41038070', '0'], [1708027200000, '52002.01000000', '52011.10000000', '51569.81000000', '51686.00000000', '2961.36308000', 1708030799999, '153356081.41541370', 70654, '1369.61914000', '70926306.37806590', '0'], [1708030800000, '51686.00000000', '51807.65000000', '51314.00000000', '51327.27000000', '2310.78155000', 1708034399999, '119191276.72953500', 64859, '959.05155000', '49472822.83647910', '0'], [1708034400000, '51327.27000000', '51823.52000000', '51317.00000000', '51644.40000000', '1489.34918000', 1708037999999, '76839757.40121910', 46976, '838.36787000', '43251613.22938440', '0'], [1708038000000, '51644.39000000', '51973.48000000', '51622.30000000', '51880.00000000', '1455.50324000', 1708041599999, '75421696.96787060', 41671, '802.75958000', '41596570.89034480', '0'], [1708041600000, '51880.01000000', '52005.50000000', '51803.60000000', '51914.08000000', '1048.15528000', 1708045199999, '54409981.48197540', 43641, '498.93450000', '25899896.60598330', '0'], [1708045200000, '51914.08000000', '52155.50000000', '51876.86000000', '51952.63000000', '1453.51703000', 1708048799999, '75558153.75778850', 57287, '659.13775000', '34266323.28322670', '0'], [1708048800000, '51952.63000000', '52200.00000000', '51848.06000000', '52168.15000000', '1105.26394000', 1708052399999, '57554082.21785720', 40589, '569.51959000', '29656234.02013390', '0'], [1708052400000, '52168.14000000', '52328.00000000', '52100.00000000', '52280.25000000', '1318.31237000', 1708055999999, '68844143.29887760', 61216, '694.32449000', '36258115.33113700', '0'], [1708056000000, '52280.25000000', '52343.28000000', '52121.10000000', '52121.99000000', '1100.67086000', 1708059599999, '57499907.94595320', 41428, '519.00015000', '27116591.41185630', '0'], [1708059600000, '52122.00000000', '52198.99000000', '52009.63000000', '52064.38000000', '1025.10353000', 1708063199999, '53414143.57676050', 47219, '444.05864000', '23136361.67667980', '0'], [1708063200000, '52064.39000000', '52164.00000000', '51845.00000000', '51897.95000000', '1287.80636000', 1708066799999, '66989166.09874450', 53681, '500.06043000', '26018419.10885490', '0'], [1708066800000, '51897.95000000', '51959.00000000', '51700.00000000', '51731.99000000', '2497.34557000', 1708070399999, '129459150.68758470', 90035, '923.52725000', '47873037.57020270', '0'], [1708070400000, '51732.00000000', '52000.00000000', '51688.44000000', '51829.30000000', '1732.23718000', 1708073999999, '89787236.30396910', 63727, '779.42129000', '40403268.05555310', '0'], [1708074000000, '51829.29000000', '51977.40000000', '51566.00000000', '51827.99000000', '2225.73346000', 1708077599999, '115293692.32199400', 77796, '1007.49497000', '52180509.52400790', '0'], [1708077600000, '51827.99000000', '52300.01000000', '51791.10000000', '52300.00000000', '2193.83727000', 1708081199999, '114251685.14220460', 82281, '1232.77552000', '64211304.21841370', '0'], [1708081200000, '52299.99000000', '52435.86000000', '52176.04000000', '52213.86000000', '2571.68653000', 1708084799999, '134455325.12746430', 98627, '1324.55176000', '69253411.72654710', '0'], [1708084800000, '52213.87000000', '52400.00000000', '52103.21000000', '52383.44000000', '1419.72726000', 1708088399999, '74206827.99129040', 67624, '723.74007000', '37834287.15524880', '0'], [1708088400000, '52383.45000000', '52494.00000000', '52130.16000000', '52464.00000000', '2066.37992000', 1708091999999, '108111206.40574370', 98849, '1012.02201000', '52951687.15841510', '0'], [1708092000000, '52464.00000000', '52572.08000000', '51758.00000000', '51920.31000000', '3725.75766000', 1708095599999, '194175035.26182710', 137753, '1806.24088000', '94148734.72077760', '0'], [1708095600000, '51920.32000000', '51933.39000000', '51592.88000000', '51888.01000000', '3280.11153000', 1708099199999, '169802971.61192880', 106663, '1541.65552000', '79809182.08196890', '0'], [1708099200000, '51888.01000000', '52245.00000000', '51844.42000000', '52041.10000000', '1866.64810000', 1708102799999, '97228115.44963280', 88343, '1007.52873000', '52477648.90271810', '0'], [1708102800000, '52041.10000000', '52071.09000000', '51803.75000000', '52016.78000000', '1136.24362000', 1708106399999, '59034425.54836430', 64638, '597.49656000', '31044764.77537890', '0'], [1708106400000, '52016.78000000', '52037.57000000', '51824.98000000', '51967.33000000', '815.75680000', 1708109999999, '42366668.02160040', 49706, '422.72484000', '21954301.37245570', '0'], [1708110000000, '51967.33000000', '52031.97000000', '51655.00000000', '51756.29000000', '963.11327000', 1708113599999, '49936509.19268060', 48618, '442.91698000', '22965747.86646760', '0'], [1708113600000, '51756.29000000', '51900.00000000', '51681.10000000', '51838.00000000', '1080.89863000', 1708117199999, '56007935.07124410', 59243, '572.85730000', '29680888.95263800', '0'], [1708117200000, '51838.00000000', '52008.19000000', '51759.10000000', '51982.01000000', '613.53322000', 1708120799999, '31842309.75381420', 34700, '328.33899000', '17039794.91903230', '0'], [1708120800000, '51982.01000000', '51995.88000000', '51891.10000000', '51977.86000000', '413.76742000', 1708124399999, '21494336.36215140', 29282, '200.85470000', '10434121.36874860', '0'], [1708124400000, '51977.86000000', '52208.43000000', '51956.28000000', '52124.11000000', '830.64637000', 1708127999999, '43280855.33988280', 40765, '500.71596000', '26093955.92605280', '0'], [1708128000000, '52124.10000000', '52162.82000000', '52003.80000000', '52003.80000000', '548.24468000', 1708131599999, '28564885.48216780', 38000, '247.00524000', '12870151.66338700', '0'], [1708131600000, '52003.81000000', '52026.24000000', '51846.84000000', '51971.33000000', '525.07239000', 1708135199999, '27273531.30796160', 36526, '216.28336000', '11233701.78388490', '0'], [1708135200000, '51971.34000000', '52018.00000000', '51881.33000000', '51935.85000000', '369.06015000', 1708138799999, '19171693.71323990', 28420, '174.56114000', '9067483.90098610', '0'], [1708138800000, '51935.84000000', '51974.00000000', '51897.43000000', '51968.75000000', '306.26325000', 1708142399999, '15905824.54252130', 27589, '128.22562000', '6659317.29519540', '0'], [1708142400000, '51968.75000000', '52057.54000000', '51929.86000000', '52011.62000000', '517.13032000', 1708145999999, '26883945.89370870', 35211, '282.96161000', '14709801.05217340', '0'], [1708146000000, '52011.62000000', '52013.54000000', '51792.00000000', '51918.98000000', '520.02071000', 1708149599999, '26981754.88715130', 32778, '193.42656000', '10036447.67339570', '0'], [1708149600000, '51918.98000000', '51950.00000000', '51884.62000000', '51925.59000000', '362.14332000', 1708153199999, '18803174.41326400', 32723, '171.55823000', '8907401.36547290', '0'], [1708153200000, '51925.59000000', '51960.00000000', '51905.03000000', '51911.33000000', '414.60598000', 1708156799999, '21535095.70544430', 39027, '205.42905000', '10670095.61570910', '0'], [1708156800000, '51911.34000000', '51911.34000000', '51702.37000000', '51740.01000000', '837.77280000', 1708160399999, '43393232.31457480', 51396, '314.99141000', '16316368.41037980', '0'], [1708160400000, '51740.01000000', '51795.76000000', '51651.53000000', '51676.40000000', '931.13568000', 1708163999999, '48160549.58163280', 45109, '405.11959000', '20953415.16811900', '0'], [1708164000000, '51676.39000000', '51729.24000000', '51500.00000000', '51721.67000000', '1322.86272000', 1708167599999, '68273771.87799400', 59589, '616.36798000', '31815859.07091950', '0'], [1708167600000, '51721.66000000', '51800.00000000', '51677.23000000', '51690.48000000', '719.36495000', 1708171199999, '37211345.25312440', 43321, '387.52790000', '20045101.80459490', '0'], [1708171200000, '51690.47000000', '51735.68000000', '51558.32000000', '51711.10000000', '657.97943000', 1708174799999, '33991685.18212110', 45878, '267.20563000', '13803085.51228120', '0'], [1708174800000, '51711.10000000', '51713.38000000', '51088.10000000', '51188.81000000', '2893.39881000', 1708178399999, '148482203.50258270', 132176, '1286.59293000', '66006355.46058260', '0'], [1708178400000, '51188.80000000', '51329.61000000', '50625.00000000', '50841.09000000', '3930.77253000', 1708181999999, '200231554.24247100', 155723, '1899.48776000', '96770309.24903280', '0'], [1708182000000, '50841.09000000', '51174.04000000', '50642.85000000', '50984.56000000', '2182.56166000', 1708185599999, '111151133.12412850', 137711, '1159.21244000', '59039375.59629380', '0'], [1708185600000, '50984.56000000', '51027.15000000', '50741.10000000', '50951.25000000', '1351.10919000', 1708189199999, '68729505.64987070', 79446, '714.07573000', '36328405.54993780', '0'], [1708189200000, '50951.26000000', '51272.72000000', '50944.67000000', '51215.58000000', '1415.03480000', 1708192799999, '72387644.47985930', 100139, '854.22985000', '43697304.04414970', '0'], [1708192800000, '51215.58000000', '51291.78000000', '51146.00000000', '51263.95000000', '818.98898000', 1708196399999, '41954839.43892400', 49116, '455.97824000', '23356121.90752280', '0'], [1708196400000, '51263.96000000', '51444.00000000', '51232.79000000', '51394.43000000', '802.19727000', 1708199999999, '41201190.96147760', 52888, '441.54079000', '22675589.48207350', '0'], [1708200000000, '51394.44000000', '51561.01000000', '51303.00000000', '51514.00000000', '729.10855000', 1708203599999, '37500398.45621680', 41376, '443.36233000', '22808855.09057850', '0'], [1708203600000, '51514.01000000', '52030.18000000', '51444.42000000', '51803.80000000', '1915.04775000', 1708207199999, '99175415.89622810', 83200, '1003.17367000', '51948814.07792690', '0'], [1708207200000, '51803.80000000', '51864.67000000', '51590.00000000', '51710.51000000', '1048.33394000', 1708210799999, '54233955.02575810', 49442, '551.06433000', '28509927.45598950', '0'], [1708210800000, '51710.50000000', '51739.13000000', '51592.05000000', '51642.64000000', '555.79636000', 1708214399999, '28710214.04666630', 30989, '236.13454000', '12196768.96702860', '0'], [1708214400000, '51642.64000000', '51764.32000000', '51544.09000000', '51676.95000000', '743.93552000', 1708217999999, '38413040.24827150', 37314, '362.76911000', '18732287.82686130', '0'], [1708218000000, '51676.94000000', '51798.99000000', '51482.12000000', '51530.83000000', '884.45683000', 1708221599999, '45690776.48144680', 40953, '437.58181000', '22604903.02366350', '0'], [1708221600000, '51530.83000000', '51554.39000000', '51163.28000000', '51277.99000000', '1153.39167000', 1708225199999, '59245732.63193190', 55453, '535.97081000', '27529573.88213460', '0'], [1708225200000, '51277.99000000', '51480.00000000', '51256.93000000', '51479.99000000', '560.42310000', 1708228799999, '28789941.41571760', 40148, '310.09932000', '15931833.44148840', '0'], [1708228800000, '51479.99000000', '51640.00000000', '51477.40000000', '51564.12000000', '688.11702000', 1708232399999, '35480620.58692430', 46461, '357.54353000', '18434527.76016240', '0'], [1708232400000, '51564.12000000', '51688.87000000', '51541.24000000', '51656.87000000', '566.23677000', 1708235999999, '29228968.47285410', 43804, '295.70284000', '15264123.56669400', '0'], [1708236000000, '51656.88000000', '51700.01000000', '51405.52000000', '51509.58000000', '606.44072000', 1708239599999, '31270546.28407140', 50136, '268.17827000', '13828672.87308360', '0'], [1708239600000, '51509.57000000', '51750.60000000', '51446.10000000', '51671.10000000', '808.11390000', 1708243199999, '41723663.28380140', 64972, '427.69751000', '22077992.63771610', '0'], [1708243200000, '51671.10000000', '51795.04000000', '51644.00000000', '51790.01000000', '691.37850000', 1708246799999, '35748041.92626370', 49071, '355.23632000', '18367836.33682360', '0'], [1708246800000, '51790.00000000', '52000.00000000', '51790.00000000', '51976.81000000', '1158.19230000', 1708250399999, '60107192.22900940', 86686, '606.03042000', '31450483.87759800', '0'], [1708250400000, '51976.80000000', '52069.00000000', '51784.50000000', '51830.83000000', '899.70919000', 1708253999999, '46706503.16698930', 64905, '409.21343000', '21246274.84047660', '0'], [1708254000000, '51830.83000000', '51836.68000000', '51661.10000000', '51832.01000000', '695.81908000', 1708257599999, '36017660.25754630', 57537, '311.76425000', '16138323.06037470', '0'], [1708257600000, '51832.01000000', '51865.20000000', '51535.01000000', '51554.06000000', '1087.03070000', 1708261199999, '56212043.66735460', 54276, '448.83288000', '23206686.07398110', '0'], [1708261200000, '51554.06000000', '51694.85000000', '51541.10000000', '51628.44000000', '676.33830000', 1708264799999, '34905932.74285080', 56380, '346.42256000', '17878386.53306650', '0'], [1708264800000, '51628.44000000', '51948.57000000', '51628.43000000', '51882.00000000', '974.46199000', 1708268399999, '50480777.94125760', 86234, '588.28121000', '30468454.54145310', '0'], [1708268400000, '51882.00000000', '51888.88000000', '51727.16000000', '51773.99000000', '786.07940000', 1708271999999, '40717171.30648230', 55273, '392.32225000', '20320622.93606400', '0'], [1708272000000, '51774.00000000', '51879.76000000', '51649.19000000', '51835.57000000', '882.35461000', 1708275599999, '45679116.77081200', 50278, '484.63211000', '25088728.19109860', '0'], [1708275600000, '51835.57000000', '51980.73000000', '51786.81000000', '51837.94000000', '884.84524000', 1708279199999, '45915886.05624740', 47436, '461.11132000', '23926222.25892140', '0'], [1708279200000, '51837.93000000', '51837.94000000', '51647.25000000', '51793.95000000', '857.61582000', 1708282799999, '44380192.66415520', 68604, '437.86592000', '22658833.81260430', '0'], [1708282800000, '51793.96000000', '51872.85000000', '51691.61000000', '51758.12000000', '715.75078000', 1708286399999, '37062645.13008010', 64863, '397.99375000', '20608623.10306420', '0'], [1708286400000, '51758.13000000', '51783.72000000', '51587.40000000', '51776.00000000', '680.31258000', 1708289999999, '35161229.25717710', 50006, '343.09096000', '17732800.07122540', '0'], [1708290000000, '51776.01000000', '51922.57000000', '51754.94000000', '51861.10000000', '483.18353000', 1708293599999, '25046075.18431700', 47411, '251.92289000', '13058164.76752270', '0'], [1708293600000, '51861.10000000', '52377.00000000', '51824.12000000', '52239.80000000', '2449.14088000', 1708297199999, '127794326.71586850', 98381, '1363.53843000', '71138274.26806830', '0'], [1708297200000, '52239.79000000', '52350.00000000', '51975.05000000', '52137.67000000', '2058.77520000', 1708300799999, '107431504.01203230', 58840, '1087.54502000', '56754698.43012580', '0'], [1708300800000, '52137.68000000', '52428.78000000', '52101.87000000', '52183.72000000', '1646.47146000', 1708304399999, '85985117.05761250', 68428, '850.67323000', '44424561.42680130', '0'], [1708304400000, '52183.72000000', '52187.62000000', '51904.83000000', '52092.06000000', '1361.67412000', 1708307999999, '70868532.04728080', 56186, '698.39230000', '36342859.13978900', '0'], [1708308000000, '52092.06000000', '52210.48000000', '52092.06000000', '52148.60000000', '851.79074000', 1708311599999, '44415214.83410360', 43063, '390.46310000', '20360329.34597240', '0'], [1708311600000, '52148.60000000', '52167.35000000', '51977.12000000', '52063.81000000', '752.37547000', 1708315199999, '39166310.06743850', 41954, '355.45163000', '18505283.24991590', '0'], [1708315200000, '52063.80000000', '52221.10000000', '52020.61000000', '52097.39000000', '952.14245000', 1708318799999, '49619945.22881650', 45281, '494.79100000', '25783785.42762510', '0'], [1708318800000, '52097.38000000', '52156.00000000', '51989.21000000', '52130.42000000', '725.01109000', 1708322399999, '37741349.06552170', 44536, '380.39842000', '19802036.36006910', '0'], [1708322400000, '52130.43000000', '52471.79000000', '52130.42000000', '52387.53000000', '1697.75120000', 1708325999999, '88877141.41645720', 101577, '941.52177000', '49285026.81533060', '0'], [1708326000000, '52387.53000000', '52488.77000000', '52297.40000000', '52394.04000000', '1059.83048000', 1708329599999, '55545862.80531070', 55018, '550.71064000', '28863007.93448750', '0'], [1708329600000, '52394.04000000', '52410.73000000', '52063.52000000', '52098.50000000', '1163.91356000', 1708333199999, '60792964.08328910', 60849, '589.56545000', '30790029.66105700', '0'], [1708333200000, '52098.50000000', '52365.26000000', '52098.49000000', '52262.99000000', '1214.97997000', 1708336799999, '63512717.72138580', 55962, '638.32435000', '33364016.35415160', '0'], [1708336800000, '52262.98000000', '52450.00000000', '52163.14000000', '52350.01000000', '1368.49870000', 1708340399999, '71603201.06742510', 60249, '723.83678000', '37869400.45913840', '0'], [1708340400000, '52350.01000000', '52423.77000000', '52284.92000000', '52336.22000000', '922.83197000', 1708343999999, '48319094.55873000', 47763, '421.66293000', '22077258.81760850', '0'], [1708344000000, '52336.22000000', '52454.11000000', '52232.00000000', '52271.09000000', '1276.18628000', 1708347599999, '66786240.03458600', 60153, '725.85014000', '37983504.70108950', '0'], [1708347600000, '52271.09000000', '52372.55000000', '52117.40000000', '52150.17000000', '1536.68715000', 1708351199999, '80279280.96744060', 79705, '802.02276000', '41901044.41277940', '0'], [1708351200000, '52150.18000000', '52202.68000000', '52027.00000000', '52100.00000000', '1509.43734000', 1708354799999, '78663520.69609530', 71772, '753.58248000', '39274350.63526990', '0'], [1708354800000, '52100.00000000', '52346.05000000', '52028.93000000', '52127.99000000', '1349.87979000', 1708358399999, '70426683.58530420', 76037, '719.36479000', '37529220.90036630', '0'], [1708358400000, '52127.99000000', '52230.00000000', '51677.00000000', '51775.76000000', '2178.19956000', 1708361999999, '113299377.84265690', 112957, '1012.65701000', '52695391.51016630', '0'], [1708362000000, '51775.76000000', '52210.00000000', '51688.69000000', '52151.73000000', '1971.50334000', 1708365599999, '102462211.68068700', 131063, '1162.33946000', '60405112.28001030', '0'], [1708365600000, '52151.72000000', '52200.00000000', '51913.07000000', '51926.61000000', '1131.63654000', 1708369199999, '58937552.04539900', 59337, '580.27151000', '30220945.10215320', '0'], [1708369200000, '51926.62000000', '51933.79000000', '51781.10000000', '51819.75000000', '648.12575000', 1708372799999, '33606149.41461990', 27237, '324.40146000', '16820097.19677230', '0']]

In [33]:
# Convertir la lista de listas en un DataFrame
df = pd.DataFrame(klines, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])
# Seleccionar solo las columnas deseadas
df = df[['timestamp', 'open', 'high', 'low', 'close', 'volume']]

# Convertir los valores a numéricos
df = df.apply(pd.to_numeric)

# Convertir los timestamps a formato de fecha y hora
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

# Convertir los valores a numéricos
df = df.apply(pd.to_numeric, errors='ignore')

# Mostrar el DataFrame
print(df)

              timestamp      open      high       low     close      volume
0   1708012800000000000  51948.24  52380.00  51742.00  52265.32  3408.06139
1   1708016400000000000  52265.32  52317.30  51850.50  51875.59  2173.95966
2   1708020000000000000  51875.60  52060.00  51831.34  51977.99  1611.13065
3   1708023600000000000  51977.98  52056.00  51725.00  52002.01  2065.22624
4   1708027200000000000  52002.01  52011.10  51569.81  51686.00  2961.36308
..                  ...       ...       ...       ...       ...         ...
95  1708354800000000000  52100.00  52346.05  52028.93  52127.99  1349.87979
96  1708358400000000000  52127.99  52230.00  51677.00  51775.76  2178.19956
97  1708362000000000000  51775.76  52210.00  51688.69  52151.73  1971.50334
98  1708365600000000000  52151.72  52200.00  51913.07  51926.61  1131.63654
99  1708369200000000000  51926.62  51933.79  51781.10  51819.75   648.12575

[100 rows x 6 columns]

In [34]:
#Separamos los datos entre X e y
X = df[['timestamp', 'open', 'high', 'low', 'volume']]
y = df['close']

#Separamos los datos entre entrenamiento (80%) y test (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [35]:
#Entrenando el modelo
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [36]:
#Recuperamos la intersección
print(regressor.intercept_)

77432.27025770876

In [37]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df

            Coefficient
timestamp -4.425050e-14
open      -5.871175e-01
high       6.515029e-01
low        9.004703e-01
volume     2.259482e-02

In [38]:
y_pred = regressor.predict(X_test)
y_pred

array([51895.66119386, 52397.24093392, 52020.68521546, 51660.80895292,
       51789.00602528, 52233.5233857 , 51937.73406043, 51924.72423699,
       51697.26269776, 52232.50440309, 51863.88580056, 52345.88823205,
       52236.05119722, 52112.1232098 , 51907.51742515, 51938.73312862,
       51987.39995735, 52147.9740082 , 51907.89578823, 51943.93393593])

In [39]:
#Convertimos en df la salida
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

      Actual     Predicted
26  51967.33  51895.661194
86  52387.53  52397.240934
2   51977.99  52020.685215
55  51642.64  51660.808953
75  51758.12  51789.006025
93  52150.17  52233.523386
16  51829.30  51937.734060
73  51837.94  51924.724237
54  51710.51  51697.262698
95  52127.99  52232.504403
53  51803.80  51863.885801
92  52271.09  52345.888232
78  52239.80  52236.051197
13  52064.38  52112.123210
7   51880.00  51907.517425
30  51977.86  51938.733129
22  51920.31  51987.399957
24  52041.10  52147.974008
33  51971.33  51907.895788
8   51914.08  51943.933936

In [40]:
error = np.sqrt(mean_squared_error(y_test, y_pred))
print("Error porcentual : %f" % (error*100))

Error porcentual : 6336.346995

In [41]:
r2_score(y_test, y_pred)

0.88641983020633

In [42]:
df.head()

      Actual     Predicted
26  51967.33  51895.661194
86  52387.53  52397.240934
2   51977.99  52020.685215
55  51642.64  51660.808953
75  51758.12  51789.006025

In [43]:
close_prediction = pd.DataFrame(np.array([[1708304400000000000,51613.38,51895.23,51526.66,2449]]),columns=['timestamp', 'open', 'high', 'low', 'volume'])
close_prediction

      timestamp      open      high       low  volume
0  1.708304e+18  51613.38  51895.23  51526.66  2449.0

In [44]:
regressor.predict(close_prediction)

array([51799.28239651])